<launch>
  <arg name="wait_for_supervisor" default="false" />
  <arg name="autostart" default="true" />
  <arg name="autostart_after_reconfigure" default="false"/>
  <arg name="heartbeat_rate" default="0.2"/>

  <env name="ROSCONSOLE_CONFIG_FILE"
       value="$(find robot_process)/rosconsole.conf"/>

  <node pkg="robot_process_tutorials" type="robot_process_tutorials_node" name="robot_process_tutorials" output="screen">
    <param name="wait_for_supervisor" type="bool" value="$(arg wait_for_supervisor)" />
    <param name="autostart" type="bool" value="$(arg autostart)" />
    <param name="autostart_after_reconfigure" type="bool" value="$(arg autostart_after_reconfigure)" />
    <param name="heartbeat_rate" type="double" value="$(arg heartbeat_rate)" />
  </node>

</launch>
